version: '3'

services:
  
  portainer:
    image: portainer/portainer:latest
    container_name: portainer
    restart: on-failure
    ports:
      - 9443:9443
      - 8000:8000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
volumes:
  portainer_data:
